Repository qin-team-recipe/05-recipe-app, pull requests merged in 2023-08, with the labels that each got.

#136 feat: マイレシピ追加画面のページヘッダー
  frontend/src/app/(app)/myRecipe/add/_component/AddMyRecipePageHeader.test.tsx
  frontend/src/app/(app)/myRecipe/add/_component/AddMyRecipePageHeader.tsx
  frontend/src/app/(app)/myRecipe/add/_component/index.ts
  frontend/src/app/(app)/myRecipe/add/page.tsx
Labels: enhancement, frontend task

#145 マイレシピ追加画面に作り方項目を追加
  frontend/next.config.js
  frontend/package.json
  frontend/src/app/(app)/_component/drawer/DrawerWrapper.tsx
  frontend/src/app/(app)/_component/drawer/index.ts
  frontend/src/app/(app)/_component/header/PageHeader.tsx
  frontend/src/app/(app)/_component/instruction/Instruction.tsx
  frontend/src/app/(app)/_component/label/baseLabel.ts
  frontend/src/app/(app)/_lib/htmlTag/Img.tsx
  frontend/src/app/(app)/_lib/htmlTag/Paragraph.tsx
  frontend/src/app/(app)/_lib/htmlTag/index.ts
  frontend/src/app/(app)/_lib/parseHtml.ts
  frontend/src/app/(app)/layout.tsx
  frontend/src/app/(app)/myRecipe/add/_component/AddMyRecipeDrawer.tsx
  frontend/src/app/(app)/myRecipe/add/_component/index.ts
  frontend/src/app/(app)/myRecipe/add/layout.tsx
  frontend/src/app/(app)/myRecipe/add/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/mock/api/index.ts
  frontend/src/mock/api/recipeItem.ts
  frontend/tailwind.config.js
  package-lock.json
Labels: enhancement, frontend task

#89 Create ShoppingMemo Repository
  backend/src/entity/shopping-memo.entity.ts
  backend/src/infrastructure/repository/shopping-memo/create.spec.ts
  backend/src/infrastructure/repository/shopping-memo/delete.spec.ts
  backend/src/infrastructure/repository/shopping-memo/find-many.spec.ts
  backend/src/infrastructure/repository/shopping-memo/repository.module.ts
  backend/src/infrastructure/repository/shopping-memo/repository.ts
  backend/src/infrastructure/repository/shopping-memo/update.spec.ts
Labels: enhancement, backend task

#91 Create ShoppingMenu Repository
  backend/prisma/migrations/20230801140744_change_culumn_recipe_item_id_to_recipe_item_name/migration.sql
  backend/prisma/schema.prisma
  backend/src/entity/shopping-item.entity.ts
  backend/src/entity/shopping-menu.entity.ts
  backend/src/infrastructure/repository/shopping-menu/create.spec.ts
  backend/src/infrastructure/repository/shopping-menu/delete-menu.spec.ts
  backend/src/infrastructure/repository/shopping-menu/repository.module.ts
  backend/src/infrastructure/repository/shopping-menu/repository.ts
Labels: enhancement, backend task

#142 Create Favorite Repository
  backend/src/entity/favorite.entity.ts
  backend/src/infrastructure/repository/favorite/create.spec.ts
  backend/src/infrastructure/repository/favorite/delete.spec.ts
  backend/src/infrastructure/repository/favorite/find-by-user-id.spec.ts
  backend/src/infrastructure/repository/favorite/repository.module.ts
  backend/src/infrastructure/repository/favorite/repository.ts
  backend/src/infrastructure/repository/recipe/find-by-id.spec.ts
  backend/src/infrastructure/repository/recipe/repository.ts
Labels: enhancement, backend task

#148 mswをアンインストール
  frontend/package.json
  frontend/src/app/(app)/chef/[chefId]/link/page.tsx
  frontend/src/app/(app)/chef/[chefId]/page.tsx
  frontend/src/app/(app)/myPage/page.tsx
  frontend/src/app/(app)/myPage/popular/page.tsx
  frontend/src/app/(app)/myRecipe/[myRecipeId]/_component/MyRecipeDDMenu.tsx
  frontend/src/app/(app)/myRecipe/[myRecipeId]/page.tsx
  frontend/src/app/(app)/myRecipe/[myRecipeId]/recipeItem/page.tsx
  frontend/src/app/(app)/myRecipe/add/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/link/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/recipeItem/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/mock/api/chef.ts
  frontend/src/mock/api/index.ts
  frontend/src/mock/api/instruction.ts
  frontend/src/mock/api/recipe.ts
  frontend/src/mock/browser.ts
  frontend/src/mock/handlers.ts
  frontend/src/mock/index.ts
  frontend/src/mock/main.ts
  frontend/src/mock/server.ts
  package-lock.json
Labels: frontend task
