Repository qin-team-recipe/05-recipe-app, pull requests merged in 2023-07, with the labels that each got.

#79 作り方コンポーネントを作成
  .gitignore
  frontend/.gitignore
  frontend/package.json
  frontend/src/app/(app)/_component/instruction/Instruction.tsx
  frontend/src/app/(app)/_component/instruction/Step.test.tsx
  frontend/src/app/(app)/_component/instruction/Step.tsx
  frontend/src/app/(app)/_component/instruction/index.ts
  frontend/src/app/(app)/_component/twoTab/TwoTab.tsx
  frontend/src/app/(app)/_lib/htmlTag/Paragraph.tsx
  frontend/src/app/(app)/_lib/htmlTag/index.ts
  frontend/src/app/(app)/_lib/index.ts
  frontend/src/app/(app)/_lib/parseHtml.ts
  frontend/src/app/(app)/chef/[chefId]/_component/LinkCard.tsx
  frontend/src/app/(app)/chef/[chefId]/link/page.tsx
  frontend/src/app/(app)/chef/[chefId]/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/page.tsx
  package-lock.json
Labels: enhancement, frontend task

#78 Update CI and Lint
  .github/workflows/ci.yml
  backend/.eslintrc.js
  backend/src/infrastructure/repository/prisma-error-handling.ts
  backend/src/infrastructure/repository/user-profile/paginate.spec.ts
  backend/src/usecase/user/usecase.ts
  backend/src/utils/exception/database-connection.error.ts
  backend/src/utils/exception/invalid-args.error.ts
  backend/src/utils/exception/query-execution.error.ts
  backend/src/utils/logger/custom-logger.service.ts
  package-lock.json
  package.json
Labels: backend task

#92 ページヘッダーの共通コンポーネントを作成
  frontend/src/app/(app)/_component/header/PageHeader.tsx
  frontend/src/app/(app)/_component/header/index.ts
  frontend/src/app/(app)/favorite/_component/FavoritePageHeader.tsx
  frontend/src/app/(app)/favorite/_component/index.ts
  frontend/src/app/(app)/favorite/page.tsx
Labels: enhancement, frontend task

#97 PageHeaderコンポーネントのtitleのパターン追加
  frontend/src/app/(app)/_component/header/PageHeader.tsx
Labels: frontend task

#93 お気に入り画面←→マイページ画面のルーティング
  frontend/src/app/(app)/favorite/_component/FavoritePageHeader.tsx
  frontend/src/app/(app)/myPage/_component/MyPageHeader.tsx
  frontend/src/app/(app)/myPage/_component/index.ts
  frontend/src/app/(app)/myPage/page.tsx
Labels: enhancement, frontend task

#50 Create Recipe Repository
  backend/prisma/migrations/20230620122141_add_recipe_step_image_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/entity/recipe.entity.ts
  backend/src/entity/user-profile.entity.ts
  backend/src/entity/user.entity.ts
  backend/src/infrastructure/repository/recipe/create.spec.ts
  backend/src/infrastructure/repository/recipe/find-by-id.spec.ts
  backend/src/infrastructure/repository/recipe/find-many-by-user-id.spec.ts
  backend/src/infrastructure/repository/recipe/pickup-list.spec.ts
  backend/src/infrastructure/repository/recipe/repository.module.ts
  backend/src/infrastructure/repository/recipe/repository.ts
  backend/src/infrastructure/repository/recipe/update.spec.ts
  backend/src/infrastructure/repository/user-profile/find-by-id.spec.ts
  backend/src/infrastructure/repository/user-profile/repository.ts
  backend/src/infrastructure/repository/user/find-by-email.spec.ts
  backend/src/infrastructure/repository/user/find-by-id.spec.ts
  backend/src/infrastructure/repository/user/repository.ts
Labels: enhancement, backend task

#98 Tabコンポーネントを作り替え
  frontend/src/app/(app)/_component/tab/Tab.test.tsx
  frontend/src/app/(app)/_component/tab/Tab.tsx
  frontend/src/app/(app)/_component/tab/Tab.types.ts
  frontend/src/app/(app)/_component/tab/index.ts
  frontend/src/app/(app)/_component/twoTab/index.ts
  frontend/src/app/(app)/chef/[chefId]/_lib/index.ts
  frontend/src/app/(app)/chef/[chefId]/_lib/tabLinkList.ts
  frontend/src/app/(app)/chef/[chefId]/link/page.tsx
  frontend/src/app/(app)/chef/[chefId]/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/_lib/index.ts
  frontend/src/app/(app)/recipe/[recipeId]/_lib/tabLinkList.ts
  frontend/src/app/(app)/recipe/[recipeId]/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/recipe-item/page.tsx
  frontend/src/app/(app)/search/_lib/index.ts
  frontend/src/app/(app)/search/_lib/tabLinkList.ts
  frontend/src/app/(app)/search/chef/page.tsx
  frontend/src/app/(app)/search/recipe/page.tsx
Labels: enhancement, frontend task

#104 戻るボタンのスタイルパターンを追加
  frontend/src/app/(app)/_component/backButton/BackButton.tsx
  frontend/src/app/(app)/_component/header/PageDetailHeader.tsx
  frontend/src/app/(app)/myPage/_component/MyPageHeader.tsx
Labels: enhancement, frontend task

#119 マイページのdetailHeader作成・シェフ詳細のdetailHeader修正
  frontend/src/app/(app)/_component/button/EditButton.tsx
  frontend/src/app/(app)/_component/button/FollowButton.tsx
  frontend/src/app/(app)/_component/button/baseButton.ts
  frontend/src/app/(app)/_component/button/index.ts
  frontend/src/app/(app)/_component/header/PageDetail.types.ts
  frontend/src/app/(app)/_component/header/PageDetailHeader.tsx
  frontend/src/app/(app)/_component/header/PageHeader.tsx
  frontend/src/app/(app)/_component/header/index.ts
  frontend/src/app/(app)/_component/label/CountWithLabel.tsx
  frontend/src/app/(app)/_component/label/Introduction.tsx
  frontend/src/app/(app)/_component/label/Title.tsx
  frontend/src/app/(app)/_component/label/baseLabel.ts
  frontend/src/app/(app)/_component/label/index.ts
  frontend/src/app/(app)/chef/[chefId]/_component/ChefPageDetail.tsx
  frontend/src/app/(app)/chef/[chefId]/_component/FollowButton.tsx
  frontend/src/app/(app)/chef/[chefId]/_component/index.ts
  frontend/src/app/(app)/chef/[chefId]/link/page.tsx
  frontend/src/app/(app)/chef/[chefId]/page.tsx
  frontend/src/app/(app)/myPage/_component/MyPageDetail.tsx
  frontend/src/app/(app)/myPage/_component/MyPageHeader.tsx
  frontend/src/app/(app)/myPage/_component/index.ts
  frontend/src/app/(app)/myPage/page.tsx
  frontend/src/app/(app)/myPage/popular/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/_component/RecipePageDetail.tsx
  frontend/src/app/(app)/recipe/[recipeId]/link/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/recipe-item/page.tsx
Labels: enhancement, frontend task

#121 リンクアイコンの表示
  frontend/src/app/(app)/_component/header/PageDetail.types.ts
  frontend/src/app/(app)/_component/header/index.ts
  frontend/src/app/(app)/chef/[chefId]/_component/ChefPageDetail.tsx
  frontend/src/app/(app)/chef/[chefId]/link/page.tsx
  frontend/src/app/(app)/chef/[chefId]/page.tsx
  frontend/src/app/(app)/myPage/_component/MyPageDetail.tsx
  frontend/src/app/(app)/myPage/page.tsx
Labels: enhancement, frontend task

#126 MSWの設定
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/app/(app)/chef/[chefId]/_lib/api.ts
  frontend/src/app/(app)/chef/[chefId]/_lib/index.ts
  frontend/src/app/(app)/chef/[chefId]/link/page.tsx
  frontend/src/app/(app)/chef/[chefId]/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/_lib/api.ts
  frontend/src/app/(app)/recipe/[recipeId]/_lib/index.ts
  frontend/src/app/(app)/recipe/[recipeId]/link/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/page.tsx
  frontend/src/app/(app)/recipe/[recipeId]/recipeItem/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/mock/.gitkeep
  frontend/src/mock/api/chef.ts
  frontend/src/mock/api/index.ts
  frontend/src/mock/api/recipe.ts
  frontend/src/mock/browser.ts
  frontend/src/mock/handlers.ts
  frontend/src/mock/index.ts
  frontend/src/mock/main.ts
  frontend/src/mock/server.ts
  package-lock.json
  package.json
Labels: enhancement, frontend task
