Repository qin-team-recipe/05-recipe-app, pull requests merged in 2023-06, with the labels that each got.

#20 リポジトリ層実装前のセッティング
  backend/.prettierrc
  backend/jest.config.js
  backend/package.json
  backend/prisma/migrations/20230610075738_updated_cuid_to_char25/migration.sql
  backend/prisma/migrations/20230610080152_update_user_for_social_account_auth/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/infrastructure/orm/orm.client.ts
  backend/src/infrastructure/orm/orm.module.ts
  backend/src/infrastructure/prisma/prisma.module.ts
  backend/src/main.ts
  package-lock.json
Labels: enhancement, backend task

#24 add nestjs-zod
  backend/package.json
  package-lock.json
Labels: enhancement, backend task

#33 シェフ一覧セクションを作成
  frontend/src/app/(app)/search/_component/ChefList.tsx
  frontend/src/app/(app)/search/_component/HotChefList.tsx
  frontend/src/app/(app)/search/_component/HotRecipeList.tsx
  frontend/src/app/(app)/search/_component/index.ts
  frontend/src/app/(app)/search/page.tsx
Labels: enhancement, frontend task

#43 Create User Repository
  backend/.env.example
  backend/jest.config.js
  backend/package.json
  backend/prisma/migrations/20230615135023_update_user_related/migration.sql
  backend/prisma/migrations/20230616200902_create_user_profiles_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/entity/user.entity.ts
  backend/src/infrastructure/repository/prisma-error-handling.ts
  backend/src/infrastructure/repository/user/create.spec.ts
  backend/src/infrastructure/repository/user/find-by-id.spec.ts
  backend/src/infrastructure/repository/user/paginate.spec.ts
  backend/src/infrastructure/repository/user/repository.module.ts
  backend/src/infrastructure/repository/user/repository.ts
  backend/src/infrastructure/repository/user/update.spec.ts
  backend/src/module/user.module.ts
  backend/src/usecase/user/usecase.module.ts
  backend/src/utils/exception/database-connection.error.ts
  backend/src/utils/exception/invalid-args.error.ts
  backend/src/utils/exception/query-execution.error.ts
  backend/src/utils/logger/custom-logger.module.ts
  backend/src/utils/logger/custom-logger.service.ts
  backend/tsconfig.json
  package-lock.json
Labels: enhancement, backend task

#52 Create UserProfileRepository
  backend/prisma/migrations/20230617104314_add_recipe_relation_to_user_profile/migration.sql
  backend/prisma/schema.prisma
  backend/src/entity/user-profile.entity.ts
  backend/src/infrastructure/repository/user-profile/create.spec.ts
  backend/src/infrastructure/repository/user-profile/find-by-id.spec.ts
  backend/src/infrastructure/repository/user-profile/paginate.spec.ts
  backend/src/infrastructure/repository/user-profile/repository.module.ts
  backend/src/infrastructure/repository/user-profile/repository.ts
  backend/src/infrastructure/repository/user-profile/update.spec.ts
  backend/src/usecase/user/usecase.module.ts
Labels: enhancement, backend task

#63 SectionHeaderの改修
  frontend/src/app/(app)/_component/header/SectionHeader.test.tsx
  frontend/src/app/(app)/_component/header/SectionHeader.tsx
  frontend/src/app/(app)/_component/header/SectionHeader.types.ts
  frontend/src/app/(app)/_component/header/index.ts
  frontend/src/app/(app)/search/_component/ChefList.tsx
  frontend/src/app/(app)/search/_component/HotChefList.tsx
  frontend/src/app/(app)/search/_component/HotRecipeList.tsx
Labels: frontend task

#66 丸形のシェフカードを実装
  frontend/src/app/(app)/_component/chefCard/ChefCard.tsx
  frontend/src/app/(app)/_component/chefCard/ChefImg.tsx
  frontend/src/app/(app)/_component/chefCard/ChefInfo.tsx
  frontend/src/app/(app)/_component/recipeCard/RecipeCard.tsx
  frontend/src/app/(app)/search/_component/ChefList.tsx
  frontend/src/app/(app)/search/_component/HotChefList.tsx
  frontend/src/app/(app)/search/_component/HotRecipeList.tsx
Labels: enhancement, frontend task

#62 Feat/link card
  frontend/package.json
  frontend/src/app/(app)/chef/[chefId]/_component/LinkCard.tsx
  frontend/src/app/(app)/chef/[chefId]/_component/index.ts
  frontend/src/app/(app)/chef/[chefId]/link/page.tsx
  frontend/tailwind.config.js
  package-lock.json
Labels: enhancement, frontend task

#68 Create User Auth Provider Repository
  backend/src/entity/user-auth-provider.entity.ts
  backend/src/entity/user.entity.ts
  backend/src/infrastructure/repository/user-auth-provider/create.spec.ts
  backend/src/infrastructure/repository/user-auth-provider/repository.module.ts
  backend/src/infrastructure/repository/user-auth-provider/repository.ts
  backend/src/infrastructure/repository/user-profile/paginate.spec.ts
  backend/src/infrastructure/repository/user-profile/repository.ts
  backend/src/infrastructure/repository/user/create-with-auth-provider.spec.ts
  backend/src/infrastructure/repository/user/find-by-email.spec.ts
  backend/src/infrastructure/repository/user/repository.ts
  backend/src/usecase/user/usecase.module.ts
Labels: enhancement, backend task
